<%= simple_form_for([project, stub]) do |f| %>
	<%= f.input :name %>
	<%= f.input :desription %>
	<%= render "tags/form", f: f %>
	
	<div id="attachments">
		<h3>Attachments</h3>
		<%= render partial: "attachments/form", locals: { f: f, index: 0 } %>
	</div>
	<p>
		<%= link_to 'Add another file', new_attachment_path, remote: true, id: "add_file", data: {params: { index: stub.attachments.size} } %>
	</p>

	<%= f.button :submit, class: "btn-primary" %>
<% end %> 