<div id="stub">
	<header>
		<h1><%= @project.name %></h1>
	</header>
 
	<header>
		<h2><%= @stub.name %></h2> 

		<ul class="actions">
			<% if policy(@stub).update? %>
				<li><%= link_to "Edit Stub", [:edit, @project, @stub], class: "edit" %></li>
			<% end %>
			<% if policy(@stub).destroy? %>
				<li><%= link_to "Delete Stub", [@project, @stub], method: :delete, class: "delete" %></li>
			<% end %>
		</ul>
	</header>
	<table id="attributes">
		<tr>
			<th>Author:</th>
			<td><%= @stub.author.email %></td>
		</tr>
		<tr>
			<th>Created:</th>
			<td><%= time_ago_in_words(@stub.created_at) %> ago </td>
		</tr>
	</table>
	<%= simple_format(@stub.desription) %>

	<% if @stub.attachment.present? %>
		<h4>Attachment</h4>
		<div class="attachment">
			<p>
				<%= link_to File.basename(@stub.attachment.url), @stub.attachment.url %>
				(<%= number_to_human_size(@stub.attachment.size) %>)
			</p>
		</div>
	<% end %>
</div>